<form (submit)="enviarFormulario()" class="form-container">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input id="nombre" [(ngModel)]="formularioContacto.nombre" name="nombre" placeholder="Ingresa tu nombre" />
      <div *ngIf="errores.nombre" class="error-message">{{ errores.nombre }}</div>
    </div>
  
    <div class="form-group">
      <label for="apellido">Apellido:</label>
      <input id="apellido" [(ngModel)]="formularioContacto.apellido" name="apellido" placeholder="Ingresa tu apellido" />
      <div *ngIf="errores.apellido" class="error-message">{{ errores.apellido }}</div>
    </div>
  
    <div class="form-group">
      <label for="email">Email:</label>
      <input id="email" [(ngModel)]="formularioContacto.email" name="email" type="email" placeholder="Ingresa tu email" />
      <div *ngIf="errores.email" class="error-message">{{ errores.email }}</div>
    </div>
  
    <div class="form-group">
      <label for="edad">Edad:</label>
      <input id="edad" [(ngModel)]="formularioContacto.edad" name="edad" type="number" placeholder="Ingresa tu edad" />
      <div *ngIf="errores.edad" class="error-message">{{ errores.edad }}</div>
    </div>
  
    <button type="submit" class="submit-button" [disabled]="!formularioContacto.nombre || !formularioContacto.apellido || !formularioContacto.email || !formularioContacto.edad">Enviar</button>
  
    <p class="footer-text">&copy; 2024 Almacen JF</p>
  </form>
  