<div class="contact-container">
    <header class="header">
      <h1>Contáctanos</h1>
    </header>
  
    <main class="contact-content">
      <!-- Información de Contacto -->
      <section class="contact-info">
        <div class="row">
          <div class="col-md-6">
            <h2>Teléfonos</h2>
            <ul>
              <li><i class="bi bi-telephone"></i> +57 321 401 6643</li>
              <li><i class="bi bi-telephone"></i> +57 317 622 8451</li>
              <li><i class="bi bi-telephone"></i> +57 315 987 6543</li>
            </ul>
          </div>
  
          <div class="col-md-6">
            <h2>Puntos Físicos</h2>
            <ul>
              <li><i class="bi bi-geo-alt"></i> Calle 123 #45-67, Bogotá, Colombia</li>
              <li><i class="bi bi-geo-alt"></i> Carrera 89 #23-45, Medellín, Colombia</li>
              <li><i class="bi bi-geo-alt"></i> Avenida 1 #10-20, Cali, Colombia</li>
            </ul>
          </div>
        </div>
  
        <div class="row">
            <div class="col-md-6">
                <h2>Correo Electrónico</h2>
                <p><i class="bi bi-envelope"></i> almacenjf&#64;gmail.com</p>
              </div>
              
          <div class="col-md-6">
            <h2>Síguenos en Redes Sociales</h2>
            <ul>
              <li><a href="https://www.facebook.com/profile.php?id=100079988127825" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></li>
              <li><a href="https://www.instagram.com/jheanc.castillo/" target="_blank"><i class="bi bi-instagram"></i> Instagram</a></li>
              <li><a href="carrito.html"><i class="bi bi-whatsapp"></i> WhatsApp</a></li>
            </ul>
          </div>
        </div>
      </section>
    </main>
  
    <footer class="footer">
      <p>&copy; 2024 Almacen JF</p>
    </footer>
  </div>
  
